[submodule "sudosos-back-end"]
	path = sudosos-back-end
	url = ../sudosos-back-end.git
	branch = develop
[submodule "sudosos-front-end"]
	path = sudosos-front-end
	url = ../sudosos-front-end.git
	branch = feature/marriage
[submodule "sudosos-point-of-sale"]
	path = sudosos-point-of-sale
	url = ../point-of-sale
	branch = feature/ui-improvements
